<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="MY3DMETA">
    <classes>
      
      <class name="testscript.T3googlesign"/>
      <class name="testscript.T9profile"/>
      
    </classes>
  </test> <!-- MY3DMETA -->
</suite> <!-- Suite -->
